@font-face {
    font-family: "qatar";
    src: url(../font/Qatar2022Arabic-Heavy.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "qatar";
}
.header{
    display: flex;
    justify-content: center;
    
}
.logo{
    margin: 15px 0 10px 15px;
}
.logo > img{
    height: 90px;
}
.titulo{
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-size: 45px;
}
.parrafo{
    padding: 25px 0px;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}
body{
    height: auto;
    background: linear-gradient(
  130deg,
  hsl(343deg 84% 33%) 18%,
  hsl(343deg 84% 31%) 61%,
  hsl(343deg 84% 28%) 73%,
  hsl(343deg 85% 26%) 80%,
  hsl(343deg 85% 24%) 84%,
  hsl(343deg 85% 21%) 87%,
  hsl(343deg 85% 17%) 90%,
  hsl(343deg 87% 13%) 93%,
  hsl(340deg 100% 7%) 100%
);
}
.h3{
    width: 80%;
    text-align: center;
}
.conteiner-repechaje{
    margin: 15px;
    padding: 20px;
    /*
    border-style: solid;
    border-radius: 0px 43px 0px 43px / 0px 40px 0px 40px;
    border-color: #6d2e52;
    background-color: #47032b;
    */
    color: #FFFFFF;
    height: 300px;
}
.conteiner-repechaje > h2 {
    text-align: center;
    padding: 15px 0;
}
.conteiner-grupos{
    height: 70%;
    display: flex;
    gap: 12px;
}
.fontRepechaje{
    letter-spacing: 1px;
    font-size: 20px;
    padding: 7px 0px;
}
.grupo-repechaje{
    border-style: solid;
    border-color: #6d2e52;
    border-radius: 43px 0px 43px 0px / 40px 0px 40px 0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    /*
    justify-content: center;
    */
    align-items: center;
    background-color:#47032b;
}
.equipo_repechaje{
    display: flex;
    width: 89%;
    padding: 5px;
    letter-spacing: 1px;
}
.equipo_repechaje > img{
    width: 50px;
}
input{
    align-self: center;
}
.salto{
    margin: 55px 0;
    display: flex;
    justify-content: center;
}
.faseGrupos{
    padding: 15px;
    height: 600px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,250px);
    grid-gap: 15px;
}
.faseGrupos_grupo {
    color: #FFFFFF;
    background-color: #47032b;
    border-style: solid;
    border-color: #6d2e52;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px 5px;
}
.clasificacion {
    display: flex;
    justify-content: end;
}
.span {
    width: 23.39px;
    text-align: center;
}
.color1 {
    color: #05ad1b;
}
.color2 {
    color: #af0606;
}
.repechajediv{
    display: flex;
    width: 100%;
}
.repechajediv >img{
    width: 20%;
}
.repechajediv >p{
    width: 60%;
    text-align: center;
}
.grupo_equipo{
    display: flex;
    justify-content: space-between;
    /*  BORDES PUESTOS EN LAS LLAVES
    border-style: solid;
    border-color: #FFFFFF;
    */
    letter-spacing: 1px;
    width: 100%;
    height: 32px;
}
.grupo_equipo > img {
    width: 20%;
}
.grupo_equipo >p{
    text-align: center;
    font-size: 17px;
    width: 60%;
    align-self: center;
}
.grupo_equipo >input{
    width: 10%;
}

/*
HOLA
*/
.grupoequipo {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: #6d2e52;
    width: 100%;
    height: 32px;
}
.grupoequipo > img {
    width: 25%;
}
.grupoequipo >p{
    text-align: center;
    font-size: 12px;
    width: 65%;
    align-self: center;
    letter-spacing: 1px;
}
.grupoequipo >input{
    width: 10%;
}

.grupo{
    display: flex;
}

.tituloGrupo{
    text-align: center;
    font-size: 23px;
    padding-top: 9px;
}
.conteiner_cruces{
    margin: 5px;
    height: 600px;
    background-color:#47032b;
    color: #FFFFFF;
    display: flex;
}
.flex{
    display: flex;
    flex-direction: column;
}
.hola{
    width: 200px;
}
#octavos > div{
    height: 100%;
    width: 100%;
}
.centrado{
    justify-content: center;
}
#cuartos > div{
    height: 100%;
    width: 100%;
}
#semis > div{
    height: 100%;
    width: 100%;
}
#final > div{
    height: 100%;
    width: 100%;
}

footer{
    height: 500px;
}
.posicion {
    font-size: 8.5px;
    width: 10%;
}
.izq>input{
    order:1 ;
}
.izq>img{
    order:3 ;
}
.izq>p{
    order:2;
}
.imgFinal> img{
    width: 100%;
    height: 100%;
}
.fuenteQatar{
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
}
.pfinal >p{
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
    margin-bottom: 9px;
}